@font-face {
    font-family: 'VALORANT';
    src: url('./fontes/VALORANT-Regular.woff2') format('woff2'),
         url('./fontes/VALORANT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1c1c1c;
    color: white;
}

header {
    background-color: #0f1923;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-busca {
    display: flex;
    position: relative;
}

#BuscaId {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 0;
    transition: width 0.4s ease-out;
}

#BuscaId:focus {
    width: 200px;
}

#botaoBusca {
    padding: 0.5rem;
    background-color: #ff4655;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.container-carregamento {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    flex-direction: column;
}

.carregador {
    border: 8px solid #1c1c1c; 
    border-top: 8px solid #ff4655; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: girar 1s linear infinite;
}

#porcentagemCarregamento {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#exibicaoAgente {
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    align-items: center;
    gap: 15rem;
    max-width: 2200px;
    width: 100%;
    position: relative;
}

.botao-navegacao {
    font-family: 'VALORANT', Arial, sans-serif;
    background-color: #ff4655;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: transform 0.2s;
}

.botao-navegacao:hover {
    transform: scale(1.1);
}

#detalhesAgente {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #2b2b2b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

#containerImagemAgente {
    position: relative;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 530px;
}

#imagemAgente {
    border-radius: 4px;
    max-width: 140%;
    max-height: 140%;
    position: relative;
    z-index: 1;
}

#informacoesAgente {
    max-width: 400px;
}

#nomeAgente {
    font-family: 'VALORANT', Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    color: white;
    border-radius: 8px;
    text-align: center;
}

#papelAgente {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 1rem 0;
}

#descricaoAgente {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#habilidadesAgente {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.icone-papel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
}

.habilidade {
    background-color: #333;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.habilidade img {
    max-width: 30%;
    height: auto;
}

.habilidade:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-conteudo {
    background-color: #2b2b2b;
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    position: relative;
    text-align: center;
}

.modal-cabecalho {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.icone-modal {
    width: 40px;
    height: 40px;
}

.fechar-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    background-color: #0f1923;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    #exibicaoAgente {
        grid-template-columns: 1fr;
    }

    #detalhesAgente {
        flex-direction: column;
        align-items: center;
    }

    #imagemAgente {
        width: 100%;
    }
}

